# core ML
numpy<2
scipy
triton
accelerate==1.7.0
safetensors==0.5.3
xformers==0.0.30

# diffusion pipeline
diffusers>=0.37.0
transformers>=4.51.3
sentencepiece
protobuf

# huggingface
huggingface-hub
hf_transfer
hf_xet

# runpod
runpod==1.7.9
setuptools